body{
    background-color: #dddddd;
    background-size:cover;
    z-index: -1;
    
}
#div1{
    position: absolute;   
    top: 18%;
    bottom:0px;
    left:32%;   
    margin: -150px 0 0 -150px;   
    width:49%;
    height:2000px;
    z-index: 1;
    background-color: #fff;
    border-top: 1px solid #312E3D;   
    border-left: 1px solid #312E3D;   
    border-right: 1px solid #312E3D;
}
#div2{
    position: absolute;
    top: 5%;
    left:25%;
    z-index: 2;
    font-family: cursive;
}
.but{
    width:115px;
    height: 35px;
    display: block;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #fff;
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}
.in1{
    width: 750px;
}

.in{
    width: 900px;
    height: 100px;
}
.but2
{
    width: 300px;
    height: 35px;
    min-height: 20px;
    display: block;
    background-color: #4a77d4;
    border: 1px solid #fff;
    color: #fff;
    padding: 9px 14px;
    font-size: 17px;
    line-height: normal;
    border-radius: 5px;
    margin: 0;
}


